<!doctype html>
<html>
<head>
	<script src="bower_components/lodash/dist/lodash.min.js"></script>
	<script src="bower_components/zepto/zepto.min.js"></script>
	<script src="bower_components/canjs/can.zepto.min.js"></script>
</head>
<body>
	<script type="text/mustache" id="todo">
		<form id="createTodo">
			<input value="{{form.text}}"/>
			<button type="submit">Add</button>
		</form>
		<ul>
			{{#each todos}}
				<li><span>{{text}}</span> <button can-click="destroy">x</button></li>
			{{/each}}
		</ul>
	</script>
	<div id="TodoMVC"></div>
	<script src="js/app.js"></script>
</body>
</html>