<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="todo-input.html">
<link rel="import" href="todo-item.html">

<polymer-element name="todo-mvc" constructor="todoMvc">
	<template>
		<todo-input on-itemcreate="{{ createItem }}"></todo-input>
		<ul>
			<template repeat="{{ item in items }}">
				<li on-itemdelete="{{ deleteItem }}">
					<todo-item item="{{ item }}"></todo-item>
				</li>
			</template>
		</ul>
	</template>
	<script src='todo-mvc.js'></script>
</polymer-element>