<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="todo-item" constructor="todoItem" attributes="item">
	<template>
		<span>{{ item.text }}</span>
		<button on-click="{{ deleteItem }}">x</button>
	</template>
	<script src='todo-item.js'></script>
</polymer-element>