<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="todo-input" constructor="todoInput">
	<template>
		<form on-submit="{{ createItem }}">
			<input value="{{ newText }}">
			<button type="submit">Add</button>
		</form>
	</template>
	<script src='todo-input.js'></script>
</polymer-element>